.testimonials {
  // margin: 0 0 120px 0;
  width: 100%;
  height: 550px;
  background: url(./../image/testimonials/image-bg@1x.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
  &-content {
    padding-top: 130px;
    @media screen and (max-width: 600px) {
      padding-top: 80px;
    }
    h1 {
      @include Kaushan-Script-regular();
      font-size: 18px;
      margin: 0;
    }
    h2 {
      @include cera-pro-bold();
      font-size: 32px;
      margin: 0;
    }
  }
}

.testi-slider {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding-top: 40px;
  @media screen and (max-width: 768px) {
    .content {
      padding: 0 15px;
    }
  }
  .carousel-prev,
  .carousel-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: none;
  }
  .carousel-prev {
    margin-right: 10px !important;
  }
  .carousel-next {
    margin-left: 10px !important;
  }
  @media screen and (max-width: 768px) {
    .carousel-prev {
      margin-right: 10px !important;
    }
    .carousel-next {
      margin-left: 10px !important;
    }
  }

  .content {
    height: 180px;
    width: 600px;
    display: flex;
    align-items: center;
    overflow: hidden;
color: black;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0;
    }

    @media screen and (max-width: 580px) {
      height: auto;
    }
  
    .carousel-inner {
      overflow: inherit;
    }

    .item-container {
      display: flex;
      background-color: #DCDCDC;
      border-bottom-left-radius: 100px;
      border-top-left-radius: 70px;
      padding: 20px 0 20px 0;
      margin: 0 15px;
      .testi-content {
        padding-left: 15px;
        padding-right: 15px;
      }
      @media screen and (max-width: 768px) {
        border-radius: 5px;
        position: inherit;
        margin: 0 10px;
        img {
          position: absolute;
        }
        // .testi-para {
        //   padding: 0 15px;
        // }
        .testi-content {
          padding: 0 20px;
          @media screen and (max-width: 768px) {
            padding: 0 20px 0 20px;
          }
          h1 {
            padding-left: 80px;
            padding-top: 18px;
          }
          p {
            padding-top: 20px;
            font-size: 12px;
          }
        }
      }
    }
  }
  img {
    height: 100px;
    margin-top: -16px;
    display: block;
    @media screen and (max-width: 768px) {
      height: 70px;
      margin-left: 15px;
      margin-top: -3px;
    }
  }
  h1 {
    @include cera-pro-bold();
    font-size: 18px;
    margin: 0;
    padding-bottom: 15px;
  }
  p {
    @include cera-pro-regular();
    font-size: 16px;
    margin: 0;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

